@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(5, 0, 14);
    color: wheat;
}

.container {
    padding: 20px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

