.todo-details {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  max-width: 100%;
}

.todo-details .title-box {
  background-color: #28023a;
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-details h4 {
  color: #ffffff;
  margin: 0;
}

.todo-details p {
  color: #333;
  margin: 0;
}

.delete-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c9302c;
}
