/* General Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.logo img {
  width: 150px;
}

/* Navbar links for desktop view */
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a,
.nav-links span {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Toggle button for smaller screens */
.menu-toggle {
  display: none; /* Hide toggle button by default for desktop */
}

.menu-toggle-icon {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.menu-toggle-icon span {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
  display: block;
  transition: all 0.3s;
}

.menu-toggle-icon span:nth-child(1) {
  top: 0;
}

.menu-toggle-icon span:nth-child(2),
.menu-toggle-icon span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}

/* Active state for smaller screens */
.nav-links.active {
  display: none; /* Hide links by default for smaller screens */
}

.nav-links.active a,
.nav-links.active span {
  margin-right: 0;
  margin-bottom: 10px;
  display: block; /* Display links when navbar is active */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links for smaller screens */
  }

  .menu-toggle {
    display: block; /* Show toggle button for smaller screens */
  }

  .nav-links.active {
    display: flex; /* Display links when navbar is active */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}
